body {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    margin: 0;
}


.event-card {
    background-color: #1c1c1c;
    color: white;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    flex: 1;
    padding-bottom: 60px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    border-top: 1px solid #444;
}

.bottom-nav .nav-link {
    color: white;
    text-decoration: none;
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    margin-left: 10px;
}

.barra {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}

.select{
    text-decoration: none !important;
    color: inherit !important;
}